<table>
	<th>
		
		<td><b>Project Name</b></td>
		<td><b>Project Description</b></td>
		<td><b>Project details</b></td>
		<td><b>Edit</b></td>
	</th>

	<% @projects.each do |project| %>
	<tr>
		<td></td>
		<td><%= project.name %></td>
		<td>
			<% if project.description %>
				<%= project.description %>
			<%else %>
				-----
			<% end%>
		</td>
		<td style = "text-align: center">
			<% title = project.id.to_s %>
			<%= link_to title, project_entries_path(project.id) %>

		</td>
		<td style = "text-align: center">
			<%= link_to 'Edit', edit_project_path(project.id) %>

		</td>
	<% end %>
	</tr>

</table>

<%= link_to 'New Project', new_project_path %>
